$font-stack:Arial, Helvetica, sans-serif;
$primary-color:#e2c09e;
$secondary-color: rgb(210, 156, 156);
$text-color:black;

$breakpoint-tablet:1024px;
$padding-tablet:1em;

$breakpoint-mobile:600px;
$padding-mobile:1.5em;


body{
    font-family: $font-stack;
    background-color:$primary-color;
    margin:0;
    padding:0;
}

