@import "../base/_variables";
@import "../base/_mixins";


.container {
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "section1 section1 section1 section1"
        "footer footer footer footer";
    grid-template-rows: auto 1fr 1fr auto;
    height: 100%;
}

@include respond(tablet){
    .container{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "main main"
        "section1 section1"
        "footer footer";
}}

@include respond(mobile){
   .container{ 
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "section1"
        "footer";
}}