@import "../base/_variables";

.theme {
    background: rgb(225, 169, 169);
    color: black;
}

@media (prefers-color-scheme: dark){
    .theme{
        background-color: $primary-color-dm;
        color: rgb(230,180,180);
    }
}