@import "../base/_variables";


// Stöd för ljust och mörkt tema med media query samt Selector inheritance ("@extend").

.theme {
    background-color:$primary-color;
    color:$darker-color;
}

@media (prefers-color-scheme: dark){
    .theme{
        background-color: $primary-color-dm;
        color: $secondary-color-dm;

        nav{
            background-color: $secondary-color-dm;
            color:$primary-color-dm;
        }

        footer{
            @extend nav;
        }
    }
}